
<button class="back-button" (click)="volver()"><i class="fas fa-chevron-circle-left"></i> Volver</button>
<h2>Editar el recurso o servicio</h2>
<div class="card">
    <div class="card-body">
        <form>
            <div>
                <img [src]="recurso.foto === '' ? '/assets/img/camara.png' : recurso.foto" class="card-img-top">
            </div>
            <div>
                Nombre:
                <input type="text" name="nombre_rs" [(ngModel)]="recurso.nombre_rs">
            </div>
            <div>
                Descripcion:
                <input type="text" name="descripcion" [(ngModel)]="recurso.descripcion">
            </div>
            <div>
                Foto:
                <input type="text" name="foto" [(ngModel)]="recurso.foto">
            </div>
            <div>
                Datos:
                <input type="text" name="datos" [(ngModel)]="recurso.datos">
            </div>
            <div>
                Aforo:
                <input type="text" name="aforo" [(ngModel)]="recurso.aforo">
            </div>
            <div class="card-buttons">
                <button class="deleteButton" (click)="eliminarRescursoAe(recurso.id_recursoservicio)">
                    <i class="fas fa-trash"></i> Eliminar cuenta
                </button>
                <button class="saveButton" (click)="guardarCambiosRecursoAe(recurso.id_recursoservicio, recurso)" style="float: right;">
                    <i class="fas fa-save"></i> Guardar cambios
                </button>
            </div>
        </form>
    </div>
</div>

