.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100vh;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card img {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-body input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0;
}

.back-button {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-weight: normal;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: fit-content;
    margin-bottom: 10px;
    position: absolute;
    top: 120px;
    right: 20px;
}

.back-button:hover {
    background-color: #999;
}
