.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;

    position: absolute;
  top: 50%;
  left: 50%;
  }
  
  .card-img-top {
    display: block;
    margin: 0 auto;
    width: 120px; /* Ancho de la foto */
    height: 120px; /* Largo de la foto */
    border-radius: 50%;
    object-fit: cover; /* Aumenta la imagen */
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group p {
    font-size: 18px;
    margin: 0;
    color: #333;
  }
  
  button {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: normal;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px; /* Márgenes para separar los botones */
  }
  
  button:hover {
    background-color: #999;
  }
  