<p *ngIf="vacio else lista">
    No hay usuarios en esta empresa
    <button (click)="volver()">Volver</button>
</p>

<ng-template #lista>
    <button (click)="volver()">Volver</button>
    <div class="col-md-2" *ngFor="let usuario of usuarios">
        <!--col-md-2 -> crea 2 columnas, ngFor -> para recorrer todas las reservas-->
        
        <div>
            <!--bg-dark: de color oscuro, text-white: para hacer el texto de color blanco-->
            {{usuario.nombre_usuario}}
        </div>
        <button (click)="AeEditaUsuario(usuario.id)">
            Editar
        </button>
    </div>
    <div>
        <button (click)="AeAniadeUsuario()">
            Añadir
        </button>
    </div>
</ng-template>

