.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #ffffff;
  }
  
  .card-img-top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .card-img-top {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%; /* Agregamos el borde redondeado para crear un círculo */
    object-fit: cover;
  }
  
  h2 {
    text-align: center;
  }
  
  .col-md-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  
  button {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: normal;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 12px;
    width: fit-content;
    margin: auto;
  }
  
  button:hover {
    background-color: #999;
  }
  
  .back-button {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    font-weight: normal;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 80px;
    position: absolute; /* Añade posición absoluta al botón */
    top: 120px; /* Distancia desde la parte superior */
    right: 10px; /* Distancia desde la derecha */
  }
  
  .back-button:hover {
    background-color: #999;
  }
  
  
  .add-button {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 5px 10px; /* Ajusta el padding según tus preferencias */
    cursor: pointer;
    font-weight: normal;
    border-radius: 4px; /* Cambia el valor para que no sea circular */
    transition: background-color 0.3s ease;
    font-size: 12px;
    width: fit-content;
    margin: auto;
    position: absolute; /* Posición absoluta */
    right: 10px; /* Distancia desde la derecha */
  }
  
  .add-button:hover {
    background-color: #999;
  }
  
  