<p *ngIf="vacio else lista">
    No hay usuarios en esta empresa
    <button class="back-button" (click)="volver()"><i class="fas fa-chevron-circle-left"></i> Volver</button>
</p>

<ng-template #lista>
    <button class="back-button" (click)="volver()"><i class="fas fa-chevron-circle-left"></i> Volver</button>
    <div class="centered-container">
    <h2>usuarios</h2>
    <div class="col-md-2" *ngFor="let usuario of usuarios">
        <!--col-md-2 -> crea 2 columnas, ngFor -> para recorrer todas las reservas-->
        <img [src]="usuario.foto == '' ? '/assets/img/camara.png' : usuario.foto" class="card-img-top">
        <div>
            <!--bg-dark: de color oscuro, text-white: para hacer el texto de color blanco-->
            {{usuario.nombre_usuario}}
        </div>
        <button (click)="AeEditaUsuario(usuario.id)">
            <i class="fas fa-pencil-alt"></i> Editar
        </button>
    </div>
    <div>
        <button class="add-button" (click)="AeAniadeUsuario()"><i class="fas fa-plus"></i>Añadir</button>
    </div>
</div>
</ng-template>

