
<div>
    <button (click)="irAmisReservas()">
        <h1>MIS RESERVAS</h1>
    </button>
    <button (click)="verTodasLasReservas()">
        <h1>TODAS LAS RESERVAS</h1>
    </button>
</div>


<div class="calendar">
    <div class="calendar-header">
        <button (click)="goToPreviousMonth()">&lt;</button>
        <h1>{{ currentMonth.format('MMMM YYYY') }}</h1>
        <button (click)="goToNextMonth()">&gt;</button>
    </div>
    <div class="calendar-grid">
        <div class="calendar-day" *ngFor="let dayOfWeek of daysOfWeek">{{ dayOfWeek }}</div>
        <ng-container *ngFor="let week of weeks">
        <div class="calendar-date" *ngFor="let date of week">   
            <span *ngIf="date !== 0">
                {{date}}      
            </span> 
            <div *ngIf="date !== 0 && tienenReserva(date)">
                <div *ngFor="let hora of getTodasLasHoras(date, currentMonth.format('YYYY-MM'))"> 
                    {{getRecurso(date, currentMonth.format('YYYY-MM'))}}
                    {{ hora }}
                    <button (click)="verReserva(date, hora, currentMonth.format('YYYY-MM'))">
                        ver
                    </button>
                </div>
            </div> 
        </div>
        </ng-container>
    </div>
    </div>

    



