<div class="col-md-4 offset-md-2"> <!--para que esté centrado-->
    <div>
        <div>
            {{empresa.nombre_empresa}}
        </div>
        <div>
            <button (click)="getAdministradoresEmpresa()">
                Administradores
            </button>
        </div>
        <div>
            <button (click)="editarPerfil()">
                Editar perfil
            </button>
        </div>
        <div>
            <button (click)="getUsuariosEmpresa()">
                Usuarios
            </button>
        </div>
    </div>
</div>

