<div class="col-md-2" *ngFor="let solicitud of solicitudes">
    <!--col-md-2 -> crea 2 columnas, ngFor -> para recorrer todas las reservas-->
    <div class="card-text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            <!--bg-dark: de color oscuro, text-white: para hacer el texto de color blanco-->
            {{solicitud.nombre_empresa}}
            
        </div>
        <button (click)="verSolicitud(solicitud.id_solicitud)">
            Ver
        </button>
    </div>
</div>
