<p *ngIf="pendiente then estaPendiente else noPendiente">
</p>

<ng-template #estaPendiente>
        <div class="card">
            <div class="card-body">
                <form>
                    <img [src]="solicitud.logo === '' ? '/assets/img/upload.png' : solicitud.logo" class="card-img-top">
                    <div>
                        Nombre empresa: {{solicitud.nombre_empresa}}
                    </div>
                    <div>
                        Datos de contacot: {{solicitud.datos_de_contacto}}
                    </div>
                    <div>
                        Descripcion: {{solicitud.descripcion}}
                    </div>
                    <div>
                        Direccion: {{solicitud.direccion}}
                    </div>
                    <div>
                        Estado: {{solicitud.estado}}
                    </div>
                    <div>
                        Identificador: {{solicitud.id_solicitud}}
                    </div>
                </form>
                <div class="card-buttons">
                    <button class="rejectButton" (click)="rechazarSolicitud()">Rechazar</button>
                    <button class="acceptButton" (click)="aceptarSolicitud()">Aceptar</button>
                  </div>
            </div>
        </div>
    <button class="back-button" (click)="volver()"><i class="fas fa-chevron-circle-left"></i> Volver</button>
</ng-template>


<ng-template #noPendiente>
        <div class="card">
            <div class="card-body">
                <form>
                    <img [src]="solicitud.logo === '' ? '/assets/img/upload.png' : solicitud.logo" class="card-img-top">
                    <div>
                        Nombre empresa: {{solicitud.nombre_empresa}}
                    </div>
                    <div>
                        Datos de contacot: {{solicitud.datos_de_contacto}}
                    </div>
                    <div>
                        Descripcion: {{solicitud.descripcion}}
                    </div>
                    <div>
                        Direccion: {{solicitud.direccion}}
                    </div>
                    <div>
                        Estado: {{solicitud.estado}}
                    </div>
                    <div>
                        Identificador: {{solicitud.id_solicitud}}
                    </div>
                </form>
            </div>
        </div>
    <button class="back-button" (click)="volver()"><i class="fas fa-chevron-circle-left"></i> Volver</button>
    
</ng-template>
