<button class="back-button" (click)="volver()"><i class="fas fa-chevron-circle-left"></i> Volver</button>
<h2>Selecciona un recurso o servicio</h2>
<div *ngFor="let recurso of recursos">
    <!--col-md-2 -> crea 2 columnas, ngFor -> para recorrer todas las reservas-->
    <div class="card-text-center">
        <img [src]="recurso.foto == '' ? '/assets/img/camara.png' : recurso.foto" class="card-img-top">
        <div class="card-body">
            <p>{{recurso.nombre_rs}}</p> 
           <p>{{recurso.descripcion}}</p> 
           <p>{{recurso.datos}}</p> 
           <p>{{recurso.aforo}}</p> 
        </div>
        <button (click)="reservarRecurso(recurso.id_recursoservicio)">
            Reservar
        </button>
        
    </div>
    
</div>

