<!DOCTYPE html>
<html>
<head>
  <title>Lista de empresas</title>
</head>
<body>
  <button class="back-button" (click)="volver()"><i class="fas fa-chevron-circle-left"></i> Volver</button>
  <h2>Lista de empresas</h2>
  <div *ngFor="let empresa of empresas">
    <div class="col-md-2">
        <img [src]="empresa.logo === '' ? '/assets/img/upload.png' : empresa.logo" class="card-img-top">
        <h3>{{empresa.nombre_empresa}}</h3>
        <button (click)="verEmpresa(empresa.id_empresa)">Ver</button> 
    </div>
  </div>
</body>
</html>
