.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .card-img-top {
    display: block;
    margin: 0 auto;
    width: 80px; /* Tamaño pequeño de los logos */
    height: 80px; /* Tamaño pequeño de los logos */
    object-fit: contain; /* Muestra toda la imagen sin recortes */
  }
  
  h2 {
    text-align: center;
  }
  
  .col-md-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px; /* Espacio entre las columnas */
    position: relative; /* Para controlar la posición de la numeración */
  }
  
  .col-md-2 h3 {
    text-align: center; /* Alineación centrada del texto */
    margin: 0; /* Eliminar el margen */
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  
  button {
    background-color: #ccc;
    color: black;
    border: none;
    padding: 5px 10px; /* Tamaño más pequeño de los botones en altura y anchura */
    cursor: pointer;
    font-weight: normal;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 12px; /* Tamaño de fuente más pequeño */
    width: fit-content; /* Ajustar el ancho al contenido */
    margin: auto; /* Centrar horizontalmente */
  }
  
  button:hover {
    background-color: #999;
  }

  .back-button {
    position: absolute;
    top: 120px; /* Espacio desde el borde superior */
    right: 20px; /* Espacio desde el borde derecho */
  }
  
  