<!DOCTYPE html>
<html>
<head>
  <title>Lista de empresas</title>
</head>
<body>
  <button class="back-button" (click)="volver()"><i class="fas fa-chevron-circle-left"></i> Volver</button>
    <h2>Lista de empresas</h2>
    <div class="centered-container">
      <div *ngFor="let empresa of empresas"> 
        <img [src]="empresa.logo === '' ? '/assets/img/upload.png' : empresa.logo" class="card-img-top">
        <h3>{{empresa.nombre_empresa}}</h3>
        <button (click)="verEmpresa(empresa.id_empresa)">
          <i class="fas fa-eye"></i> Ver
      </button>
      </div>
  </div>
</body>
</html>
