
<p *ngIf="mia then esMia else otras">
</p>

<ng-template #esMia>
    <div class="card">
        <div class="card-body">
            <form>
                <div>
                    Recurso o servicio reservado: {{reserva.nombre_rs}}
                </div>
                <div>
                    Usuarios: {{reserva.nombre_usuario}}
                </div>
                <div>
                    Fecha: {{fecha}}
                </div>
                <div>
                    Hora: {{reserva.hora}}
                </div>
            </form>
            
            <button (click)="editarReserva()">
                Editar
            </button>
        </div>
    </div>
    <button class="back-button" (click)="volver(0)"><i class="fas fa-chevron-circle-left"></i> Volver</button>
</ng-template>





<ng-template #otras>
        <div class="card">
            <div class="card-body">
                <form>
                    <div>
                        Recurso o servicio reservado: {{reserva.nombre_rs}}
                    </div>
                    <div>
                        Usuarios: {{reserva.nombre_usuario}}
                    </div>
                    <div>
                        Fecha: {{fecha}}
                    </div>
                    <div>
                        Hora: {{reserva.hora}}
                    </div>
                </form>
            </div>
        </div>
    <button class="back-button" (click)="volver(1)"><i class="fas fa-chevron-circle-left"></i> Volver</button>
</ng-template>