<button class="back-button" (click)="volver()"><i class="fas fa-chevron-circle-left"></i> Volver</button>
    <div class="card">
        <div class="card-body">
            <form>
                <div>
                    Recurso:
                    <input type="text" name="nombre_rs" [(ngModel)]="reserva.nombre_rs">
                </div>
                <div>
                    Usuarios:
                    <input type="text" name="nombre_usuario" [(ngModel)]="reserva.nombre_usuario">
                </div>
                <div>
                    Fecha:
                    <input type="text" name="fecha" [(ngModel)]="fecha">
                </div>
                <div>
                    Hora:
                    <input type="text" name="hora" [(ngModel)]="reserva.hora">
                </div>
                <div class="card-buttons">
                    <button (click)="AeEliminaReserva(reserva.id_reserva)"> 
                        Eliminar reserva
                    </button>
                    <button (click)="AeguardaCambiosReserva(reserva.id_reserva, reserva, fecha)"> 
                        Guardar cambios
                    </button>
                </div>
            </form>
        </div>
    </div>

