<div class="col-md-4 offset-md-2"> <!--para que esté centrado-->
    <img [src]="recurso.foto == '' ? '/assets/img/camara.png' : recurso.foto" class="card-img-top">
    <div class="card">
        <div class="card-body">
            <form>
                <div>
                    Nombre: {{recurso.nombre_rs}}
                </div>
                <div>
                    Descripcion: {{recurso.descripcion}}
                </div>
                <div>
                    Datos: {{recurso.datos}}
                </div>
                <div>
                    Aforo: {{recurso.aforo}}
                </div>
            </form>
        </div>
    </div>
</div>

