

<div class="card">
    <div class="card-body">
        <img [src]="recurso.foto == '' ? '/assets/img/camara.png' : recurso.foto" class="card-img-top">
        <form>
            <div>
                Nombre: {{recurso.nombre_rs}}
            </div>
            <div>
                Descripcion: {{recurso.descripcion}}
            </div>
            <div>
                Datos: {{recurso.datos}}
            </div>
            <div>
                Aforo: {{recurso.aforo}}
            </div>
        </form>
    </div>
</div>
<button class="back-button" (click)="volver()"><i class="fas fa-chevron-circle-left"></i> Volver</button>


