<div class="col-md-4 offset-md-2">
  <div class="card">
    <img [src]="admi_general.foto == '' ? '/assets/img/camara.png' : admi_general.foto" class="card-img-top">
      <div class="card-body">
          <form>
              <div class="form-group">
                  <p>Nombre: {{ admi_general.nombre_usuario }} </p> 
              </div>  
          </form>
          <div>
            <button type="submit" (click)="mostrarEmpresas()">Empresas</button>
          </div>
          <div>
            <button type="submit" (click)="mostrarSolicitudes()">Solicitudes</button>
          </div>
      </div>
  </div>
</div>

