<div class="col-md-4 offset-md-2"> <!--para que esté centrado-->

    <div class="card">
        <div class="card-body">
            <form>
                <div>
                    Nombre: {{usuario.nombre_usuario}}
                </div>
                <div>
                    Contraseña: {{usuario.contrasena}}
                </div>
                <div>
                    Fecha nacimiento: {{usuario.fecha_nacimiento}}
                </div>
                <div>
                    Puesto de trabajo: {{usuario.puesto_trabajo}}
                </div>
                <div>
                    Empresa: {{usuario.empresa}}
                </div>
                <div>
                    Tipo: {{usuario.tipo}}
                </div>
            </form>
        </div>
    </div>
</div>

