
<div class="col-md-4 offset-md-2"> 
    <div class="card">
        <img [src]="usuario.foto == '' ? '/assets/img/camara.png' : usuario.foto" class="card-img-top">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <p>Nombre: {{ usuario.nombre_usuario }} </p>
                    
                </div>  
                <button (click)="editarPerfil()">
                    Editar perfil
                </button>
                <button (click)="usuarioVeReservas()">
                    Reservas realizadas
                </button>
                <button (click)="usuarioRealizaReserva()">
                    Realizar reserva
                </button>
            </form>
        </div>
    </div>
  </div>
