<!DOCTYPE html>
<html>
<head>
  <title>Iniciar sesión</title>
</head>
<body>
  <h2>Pagina de solicitud de nueva empresa (por hacer)</h2>
  <form>
    <label for="nombre_empresa">Nombre empresa:</label>
    <input type="text" id="nombreEmpresa" name="nombreEmpresa" #nombreEmpresa required><br>
    <label for="direccion">Dirección:</label>
    <input type="direccion" id="direccion" name="direccion" #direccion required><br>
    <label for="datos_de_contacto">Datos de contacto:</label>
    <input type="datos_de_contacto" id="datos_de_contacto" name="datos_de_contacto" #datos_de_contacto required><br>
    <label for="logo">Logo:</label>
    <input type="logo" id="logo" name="logo" #logo required><br>
    <input type="submit" value="Crear solicitud" (click)="crearSolicitud(nombreEmpresa.value, direccion.value, datos_de_contacto.value, logo.value)">
  </form>
</body>
</html>
